* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-menu {
    max-width: 1050px;
    width: 90%;
}

.navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px rgb(34, 34, 34);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bold;
}

.nav-container {
    display: block;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .menu-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .menu-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
}

.nav-container .menu-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .menu-lines .line2 {
transition: transform 0.2s ease-in-out;
}

.nav-container .menu-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding: 120px;
    box-shadow: inset 0 0 2000px rgb(255, 255, 255, .5);
    height: 100vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.menu-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.menu-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.menu-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

/* body{
    height: 1000vh;
} */

.container{
    width: 100%;
    height: 500px;
    background-position: top;
    background-size: cover;
    background-image: url(public/Images/photo-1503951914875-452162b0f3f1.avif);
    background-attachment: fixed;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30vh;
    opacity: 75%;
    text-shadow: 1px 5px 6px rgb(0, 0, 0);
    text-align: center;
    padding-top: 10rem;
    
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.3vh;
    text-align: center;
    line-height: 0;
    letter-spacing: 7px;
}

.app-cal{
    height: 100%;
    width: 60rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 18rem;
}

h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 80px;
}

.calendar-container {
    color: brown;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}